* {
	box-sizing: border-box;
	outline: transparent;
}

:root {
	--primary-color: #336C8E;
	--secondary-color: #46ACC2;
	--accent-color: #2A4C74;
	--error-color: #EBC55C;
	--warning-color: #e55b5b;
	--success-color: #79B473;
	--dark-color: #2A2D34;
	--bg-color: #F1F7F9;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	height: 100vh;
	background-color: var(--bg-color);
}

a {
	text-decoration: none;
}

nav {
	display: flex;
	width: 100%;
	background-color: var(--accent-color);
}

nav ul {
	display: flex;
	list-style: none;
	gap: 10px;
	flex: 1;
	margin: 10px;
	padding: 10px;
}

nav ul li:last-child {
	margin-left: auto;
}

nav ul li a {
	padding: 10px 15px;
	color: var(--bg-color);
	font-weight: normal;
}

nav ul li:last-child a {
	background-color: var(--primary-color);
	text-align: center;
	border-radius: 10px;
}

nav ul li a:hover {
	opacity: 0.6;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.form {
	display: flex;
	flex-direction: column;
	width: clamp(200px, 60%, 600px);
}

.form input, .form label, .btn-submit{
	-webkit-transition: border-bottom .4s, color .4s, background-color .4s;
	-moz-transition: border-bottom .4s, color .4s, background-color .4s;
	-ms-transition: border-bottom .4s, color .4s, background-color .4s;
	-o-transition: border-bottom .4s, color .4s, background-color .4s;
	transition: border-bottom .4s, color .4s, background-color .4s;
}
.input::placeholder,.input::placeholder, label ~ .input{
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.form input{
	padding: 15px 10px;
	margin-bottom: 15px;
	font-size: 1.125em;
	border: none;
	border-bottom: 2px solid var(--primary-color);
}

.form label {
	font-size: 1.25em;
}
 label ~ .input, label ~ input:valid {
	 -webkit-transform: translateY(-20px);
	 -moz-transform: translateY(-20px);
	 -ms-transform: translateY(-20px);
	 -o-transform: translateY(-20px);
	 transform: translateY(-20px);
	 
 }
 label ~ .input:focus-within, label ~ .input:hover, label ~ .input:valid{
	 -webkit-transform: translateY(0);
	 -moz-transform: translateY(0);
	 -ms-transform: translateY(0);
	 -o-transform: translateY(0);
	 transform: translateY(0);	 
 }
.input:focus-within::placeholder,.input:hover::placeholder {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	-o-transform: translateY(-50px);
	transform: translateY(-50px);
}

.btn-submit {
	font-size: 1.5em;
	font-weight: 600;
	background-color: var(--primary-color);
	letter-spacing: 2px;
	color: white;
	border: none;
	padding: 15px 10px;
	margin-top: 20px;
}

.btn-submit:hover {
	background-color: var(--secondary-color);
}
.input:focus {
	border-bottom: 2px solid var(--secondary-color);
}

.warning-label{
	color: var(--warning-color);
}

.form .warning-input{
	border-bottom: 2px solid var(--warning-color);;
}

.success-label {
	color: var(--success-color);
}
.form .success-input{
	border-bottom: 2px solid var(--success-color);;
}

.submit-sucess {
	background-color: var(--success-color);
}
